BASEBALL_DATA_DIR=/home/chester/baseball-data
BASEBALL_DATA_DB_SERVER=127.0.0.1
BASEBALL_DATA_DB_PORT=1433
BASEBALL_DATA_DB_DATABASE=BaseballRealData
BASEBALL_DATA_DB_USERNAME=baseball_game_reader
BASEBALL_DATA_DB_PASSWORD=replace-with-local-reader-password
BASEBALL_DATA_DB_DRIVER=ODBC Driver 18 for SQL Server
BASEBALL_DATA_DB_TRUST_SERVER_CERTIFICATE=yes
